<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ajusa/lit@latest/dist/lit.css" />
</head>

<body>
    <div class="c">
        <h2>Search for a term</h2>
        <form action="/search" method="post">
            <div class="row">
                <div class="6 col">
                    <input class="card w-100" type="text" name="search-term" placeholder="enter text here">
                </div>
                <button class="btn primary">Submit</button>
            </div>
            {% for i in labeled_data %}
            <div class="card">
                <div class="card col">
                    <h1>{{ i["num"] }}</h1>
                    <h4> {{i["rating"]}} </h4>
                </div>
            </div>
            {% endfor %}
        </form>
    </div>
</body>